* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-wh {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.main {
    flex: 1;
}

footer {
    display: flex;
    color: black;
    margin-top: auto;
    flex-basis: 30px;
    font-size: larger;
    align-items: center;
    justify-content: space-around;
    background-color: #17202A;
}

footer p {
    color: white;
    font-size: medium;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

.navbar-icon {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 25px;
    font-size: 22px;
}

.navbar-icon .fa-graduation-cap {
    font-size: 27px;
}

.navbar-icon #nav-title {
    font-size: 20px;
    margin-left: 9px;
    font-family: outfit;
}

.navbar-container ul {
    padding: 0;
    list-style: none;
}

.navbar-container li {
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    margin: 20px;
}

.navbar-container a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

.navbar-container a:hover {
    color: #b2dfdb;
}

.container-wallpaper {
    display: flex;
    flex-direction: column;
}

.container-wallpaper .img-wallpaper1 {
    max-height: 70vh;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.container-wallpaper .logotipos {
    max-width: 100%;
    max-height: 100%;
    background-color: #E8F8F5;
}

.container-wallpaper .logotipos ul {
    display: flex;
    flex-direction: row; /*Convertimos el contenedor en "filas" todos los "li" */
    justify-content: space-around;
    list-style: none;
}

.container-wallpaper .logotipos li {
    list-style: none;
    display: inline-block;
    padding: 10px 50px;
    margin: 30px;
    color: #17202A;
}


/* LOGIN FORM */
form {
    border: 3px solid #f1f1f1;
}

.modal div .uname, .psw {
    font-weight: bold;
}

.form-container {
    padding: 16px;
}

/*Full-width input fields*/
.modal input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*Establece estilo a todos los botones*/
.modal button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal button:hover {
    opacity: 0.8;
}

.modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 14%;
    border: 50%;
}

.modal .container_btn {
    padding: 16px;
}

.modal span.psw_1 {
    float: right;
    padding-top: 16px;
}

/*The modal (background)*/
.modal {
    display: none; /*Oculta el form por default*/
    position: fixed; /*Queda en el lugar*/
    z-index: 1; /*Sit on top*/
    left: 0;
    top: 0;
    width: 100%; /*Full width*/
    height: 100%; /*Full height*/
    overflow: auto; /*Permite scroll if needed*/
    background-color: rgb(0,0,0); /*Fallback color*/
    background-color: rgba(0,0,0,0.4); /*Black w/ opacity*/
    padding-top: 60px;
}

/*Modal content/box*/
.modal-content {
    background-color: #fefefe;
    margin: 5px auto 15% auto;
    border: 1px solid #888;
    width: 45%;
}

/*Boton de cerrar el login form*/
.modal .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/*Animacion para el boton de cerrar el login form*/
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/*Agregar zoom animacion */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*Cambiar stilos para el span and cancel boton en pequeñas pantallas */
@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }
    .cancel_btn {
        width: 100%;
    }
}
