.container {
    margin-top: 20px;
  }
  
  .navbar-brand {
    margin-left: 25px;
  }
  
  #user_admin{
    font-weight: bold;
  }
  
  .space {
    margin-top: 9px;
  }
  
  .b-color {
    background-color: red;
  }
  
  .custom-card {
  width: 100%; /* Ancho personalizado */
  height: 100px; /* Altura personalizada */
  }
  
  .wallpaper-background_d {
    background-color: #82E0AA;
  }
  
  .space_d {
      margin-top: 20px;
  }
  
  .small-column_d {
      width: 100px;
  }
  
  /* Efecto hover al seleccionar el card */
  .card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px black;
  }
  
  .card-link {
    color: inherit;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .table thead th {
    background-color: #d9eaf7;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  /* Quitar estilos a los tags a quienes son los links para redirigir */
  a {
    text-decoration: none;
    color: inherit;
  }