.container {
    margin-top: 20px;
}

.wallpaper-background {
    background-color: #82E0AA;
}

.wallpaper-sub-background {
    background-color: #AED6F1;
}


/* input:text donde se le quita los estilos a los inputs */
.remove-styles-input {
  border: none;
  outline: none;
  box-shadow: none;
  border-color: transparent;
  margin: 5px 0px;
}

.navbar-brand {
margin-left: 25px;
}

#user_admin{
font-weight: bold;
}

/* space: es el espacio que daremos entre la tabla asistencias y titulo de la materia junto con los botones */
.space {
  margin-top: 10px;
}

/* sub-space:  es el espacio donde se alejara del navbar, este se usara para la informacion del maestro y materia */
.space-info {
  margin-top: 10px;
}

.space-agregar-alumno {
  margin-top: 15px;
}

.b-color {
  background-color: red;
}

.small-column {
  width: 100px;
}

/* Quitar estilos a los tags a quienes son los links para redirigir */
a {
  text-decoration: none;
  color: inherit;
}

/* Color de fondo del titulo de la materia */
.asignatura-color {
  background-color: #ffd700;
}

/* Tamano de la tabla asistecnia y tendra un scroll-bar para recorrer los alumnos de la lista */
.table-container {
  max-height: 386px;
  overflow-y: auto;
}

.table-container-aa {
  width: 100%;
  max-height: 290px; /* Ajusta esta altura según sea necesario */
  overflow-y: auto;
  border: 1px solid #ddd;
}

/* ESTILOS PARA LA FILA DE TITULOS PRINCIPAL */
/* .table thead th { */
.sticky-column > th {
  background-color: #d9eaf7;
  position: sticky;
  top: 0;
  z-index: 10;
}

td, th {
  border: 1px solid #dddddd;
}

/* ESTILOS PARA LOS BOTONES ANT-SIG */
.form-months > div {
  display: inline-block;
}

/* CENTRAR LOS INPUTS CON LOS VALORES */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

/* OCULTAR EL INPUT FALTO:CHECKED */
#input-falto {
  display: none;
}
